
#debug pre{font-size:9pt;}
#debug code.log{color:#000;}
#debug code.warn{color:#EA0;}
#debug code.error{color:#F00;}

.navbar-static-top {
  margin-bottom: 19px;
}

.control-label{
 font-weight:normal;
}

div.br{
 display:block;
 margin:9px 0 0 0;
}

a span{
 color:#333333;
}

.page_title{
 margin-top:-6px;
 text-align:center;
}

.alerts{
  z-index:99999;
  position:absolute;
  top:60px;
  left:14px;
  right:14px;
  opacity:0.95;
}

.alerts .alert{
  opacity:0.95;
}
